$color-lime: #bce784;
$color-green: #5dd39e;
$color-blue: #348aa7;
$color-dark-blue: #525174;
$color-dark-purple: #513b56;

$dark-slate: #495670;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
